/* Style Sheet for my lab1 part 1 assignment*/

body {
  font: 1.2em / 1.5 system-ui;
}

.sender-column {
  text-align: right;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}
/* added text padding to align text without introducing a gap*/
/* had to add a negative top margin to remove gap between text*/
.indented-text {
    padding-left: 40px;
    margin-top: -20px;
}

/* Adding a class for the subtitles in the exotic dance moves
* primarily to remove the indentation
*/
.subtitle {
    margin-top: -20px;
}