/*
 Style sheet for lab3 part 2
Andrew Filson
Feb 27th 2026
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
* {
  box-sizing: border-box;
}
html {
  font-family: 'Lucida Sans';
}
body {
  font-family: 'Lucida Sans';
  min-width: 980px;
  max-width: 1400px;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

h1 {
  font-family: 'Roboto'sans-serif;
  font-weight:900;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}

h2 {
  font-family:'Verdana', sans-serif;
  font-style:italic;
  font-weight:bold;
  font-size: 24px;
  margin-bottom: 0%;
  letter-spacing: 1px;
}

a {
  color: #aa6666;
  text-decoration: underline;
  outline: none;
}

a:hover, a:focus{
  color: darkred;
  text-decoration: none;
}

a:visited {
  color: darkred;
  text-decoration:none;
}

a[href*="https"] {
  background: url("../images/external-link-52.png") right no-repeat;
  background-size: 10px 10px;
  padding-right: 15px;
  
}

li {
  line-height: 2;
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: circle;
}

p {
  line-height: 2;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* This is the proper way to indent your text
in the first paragraph no need for inline modifications
this lets us know its the first paragraph under the section and h2 selector */
section h2 + p {
  text-indent: 2rem;
}

nav li {
  font-family: 'Verdana';
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  width: 150%;
  line-height: 3;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px dotted #aa6666;
}
/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}